@use './colors.scss' as *;

.light {
  color: $dark-blue-text;
  background-color: $gray-background;
  & .header {
    background-color: $white;
  }
  & .card {
    background-color: $white;
  }
  input {
    color: $dark-blue-text;
  }
  &::placeholder {
    color: $gray-input;
  }
}

.dark {
  color: $white;
  background-color: $dark-blue;
  & .header {
    background-color: $primary-blue;
  }
  & .card {
    background-color: $primary-blue;
  }
  input {
    color: $white;
    background-color: $primary-blue;
  }
  &::placeholder {
    color: $gray-input;
  }
}